/* Reset CSS */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: arial, times, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 16px;
	font-weight: normal;
}
p {
	font-size: 14px;
}

#list {
	width: 350px;
	min-height: 300px;
	padding: 10px;
	margin: 20px auto;
	background: #e4e0e0;
	text-transform: uppercase;
}
.column {
	margin: 10px auto 20px;
	width: 90%;
	background: #fff;
	border-radius: 10px;
	border: solid 1px black;
	font-family: arial, times, sans-serif;
	line-height: 1.5;
}
.column ul{
	display: block;
}
.column ul li {
	padding: 15px;
	padding-left: 50px;
	list-style: none;
	position: relative;
}
.column ul li a {
	text-decoration: none;
	color: #000;
}

#up .header {
	border-radius: 10px 10px 0 0;
	background: purple;
	color: #fff;
	font-weight: bolder;
}
#up .body, #up .header {
	border-bottom: solid 1px black;
}
.danger::before {
	font-family: FontAwesome;
	content: "\f071";
	color: #f9af26;
	top: 15px;
	left: 20px;
	display: block;
	position: absolute;
}
.circle::before {
	font-family: FontAwesome;
	content: "\f10c";
	color: #bfbfbf;
	top: 15px;
	left: 20px;
	display: block;
	position: absolute;
}
.lock::before {
	font-family: FontAwesome;
	content: "\f023";
	color: #4e4e4e;
	top: 15px;
	left: 20px;
	display: block;
	position: absolute;
}
.printer::before {
	font-family: FontAwesome;
	content: "\f02f";
	color: #4e4e4e;
	top: 15px;
	left: 20px;
	display: block;
	position: absolute;
}
#up .direction-down::before {
	border-left: solid 18px transparent;
	border-right: solid 18px transparent;
	border-top: solid 16px black; 
	bottom: -16px;
	left: 50%;
	margin-left: -8px;
	content: "";
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	z-index: 3;
}
#up .direction-down::after {
	border-left: solid 18px transparent;
	border-right: solid 18px transparent;
	border-top: solid 16px #fff; 
	bottom: -15px;
	left: 50%;
	margin-left: -8px;
	content: "";
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	z-index: 4;
}

#down .direction-down::before {
	border-left: solid 18px transparent;
	border-right: solid 18px transparent;
	border-top: solid 16px black; 
	top: -1px;
	left: 50%;
	margin-left: -8px;
	content: "";
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	z-index: 1;
}
#down .direction-down::after {
	border-left: solid 18px transparent;
	border-right: solid 18px transparent;
	border-top: solid 16px #e4e0e0; 
	top: -2px;
	left: 50%;
	margin-left: -8px;
	content: "";
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	z-index: 2;
}
.block-1 {
	background: #e4e0e0;
}
#up .block-2 {
	background: #c0bdbd;
}
#down .block-2 {
	border-radius: 10px;
	background: #c0bdbd;
}
